@import "reset.css";

body {
	font-family: "Arial";
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
/*----------------------------------------------------------*/
